<h1><%= @artist.name  %></h1>
<%= image_tag @artist.image_path %>
<p>
  <%= link_to "Delete", artist_path(@artist), method: :delete, data: {confirm: "Really delete #{@artist.name}?"} %>
  <%= link_to "Edit", edit_artist_path(@artist) %>
</p>
