<h1><%= @playlist.name %></h1>
<ul>
<% @playlist.songs.each do |song| %>
  <li><%= render partial: 'shared/link_song', locals: { target: song} %></li>
<% end %>
<p>
  <%= link_to "Edit", edit_playlist_path(@playlist) %>
</p>
